<div class="container">

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Create a specification</li>
</ol>

<h1>Create a specification</h1>

<%= form_tag("/specifications", method: "post") do %>
  <%= render partial: 'specifications/form', locals: { spec: Specification.new } %>
  <br/><%= submit_tag("Create", class: "btn btn-primary") %>
  <a href="/" class="btn btn-default">Cancel</a>
<% end %>

</div>
