// Place all the styles related to the specifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-top: 80px;
}

dt {
  margin-top: 16px;
}
dd {
  margin-left: 16px;
}
